---
import Navbar2 from "../components/Navbar2"
import Layout from "../layouts/Layout.astro"
import Images from "../components/Images"

const images = [
  "/p1.jpeg",
  "/p2.jpeg",
  "/p3.jpeg",
  "/p4.jpeg",
  "/p5.jpeg",
  "/p6.jpeg",
  "/p7.jpeg",
  "/p8.jpeg",
]
---

<Layout>
  <Navbar2 />
  <div
    class="flex min-h-screen flex-col justify-between py-4 sm:py-6 lg:py-8 mb-10"
  >
    <main class="mb-auto">
      <div class="my-8 sm:my-12">
        <h2
          class="mb-4 text-center text-2xl font-semibold text-gray-800 dark:text-white md:mb-6 md:text-3xl lg:text-4xl"
        >
          Galerija slika
        </h2>
        <p
          class="mx-auto max-w-screen-md text-center text-gray-500 dark:text-slate-400 md:text-lg"
        >
          Parking - Airport Zagreb by Matija
        </p>
      </div>
      <Images images={images} client:load />
    </main>
  </div>
</Layout>
