---
import Footer from "../components/Footer"
export interface Props {
  title?: string
}

const { title = "Parking by Matija" } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="parking for airplane travelers" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <a
      aria-label="Chat on WhatsApp"
      href="https://wa.me/+385921028847?text=Pozdrav,%20zanima%20me%20vaša%20parking%20usluga."
      class="fixed bottom-10 right-5 sm:bottom-20 sm:right-10 z-30"
      target="blank"
    >
      <img
        alt="Chat on WhatsApp"
        src="/whatsapp.png"
        width={30}
        height={30}
        class="hover:scale-110 sm:w-10"
      />
    </a>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
